# Dictionnaires et Pandas

## Les dictionnaires

Un dictionnaire ressemble à une liste mais il est plus général. Alors que les indices d'une liste doivent être des entiers, dans un dictionnaire, les indices peuvent être de type différent.

Un dictionnaire contient une collection d'indices, appelés **clés**, et une collection de valeurs. A chaque *clé* correspond une *valeur*, ce que l'on appelle une **paire clé-valeur**, ou **item**.

La syntaxe pour définir une liste est:

In [46]:
my_dict = {
   "key1":"value1",
   "key2":"value2",
}

Définissons 2 listes nous donnant les pays européens et leur capitale:

In [47]:
pays = ['allemagne', 'autriche', 'belgique', 'bulgarie', 'chypre', 'croatie', 'danemark', 'espagne', 'estonie', 
        'finlande', 'france', 'grèce', 'hongrie', 'irlande', 'italie', 'lettonie', 'lituanie', 'luxembourg', 
        'malte', 'pays-bas', 'pologne', 'portugal', 'république tchèque', 'roumanie', 'slovaquie', 'slovénie', 'suède']
capitales = ['berlin', 'vienne', 'bruxelles', 'sofia', 'nicosie', 'zagreb', 'copenhague', 'madrid', 'tallinn', 
             'helsinki', 'paris', 'athènes', 'budapest', 'dublin', 'rome', 'riga', 'vilnius', 'luxembourg', 'la valette',
             'amsterdam', 'varsovie', 'lisbonne', 'prague', 'bucarest', 'bratislava', 'ljubljana', 'stockholm']

Nous voulons trouver la capitale de la Hongrie. Nous pouvons utiliser la méthode de liste `index()`:

In [48]:
# trouver l'indice de 'hongrie'
ind_hongrie = pays.index('hongrie')

# afficher la capitale de la Hongrie
print(capitales[ind_hongrie].capitalize())

Budapest

Maintenant, définissons un dictionnaire contenant les même informations:

In [49]:
europe = {
    'allemagne' : 'berlin',
    'autriche' : 'vienne',
    'belgique' : 'bruxelles',
    'bulgarie' : 'sofia',
    'chypre' : 'nicosie',
    'croatie' : 'zagreb',
    'danemark' : 'copenhague',
    'espagne' : 'madrid',
    'estonie' : 'tallinn',
    'finlande' : 'helsinki',
    'france' : 'paris',
    'grèce' : 'athènes',
    'hongrie' : 'budapest',
    'irlande' : 'dublin',
    'italie' : 'rome',
    'lettonie' : 'riga',
    'lituanie' : 'vilnius',
    'luxembourg' : 'luxembourg',
    'malte' : 'la valette',
    'pays-bas' : 'amsterdam',
    'pologne' : 'varsovie',
    'portugal' : 'lisbonne',
    'république tchèque' : 'prague',
    'roumanie' : 'bucarest',
    'slovaquie' : 'bratislava',
    'slovénie' : 'ljubljana',
    'suède' : 'stockholm'
}

Pour accéder à la *valeur* associée à la une *clé* donnée, il suffit alors d'utiliser la clé en indice du dictionnaire. Ainsi, pour afficher la capitale de la Hongrie:

In [50]:
europe['hongrie']

'budapest'

Il est facile avec un dictionnaire d'ajouter ou enlever une paire clé-valeur, ou bien de changer une valeur:

In [51]:
# ajouter la Turqie au dictionnaire
europe['turquie'] = 'istanbul'

# vérifier que le pays est bien contenu dans le dictionnaire
'turquie' in europe

True

In [52]:
# changer le nom de la capitale de la Turquie (et oui ce n'est pas Istanbul...)
europe['turquie'] = 'ankara'

# afficher la capitale de la Turquie
print(europe['turquie'].capitalize())

Ankara

In [53]:
# enlever la paire clé-valeur du dictionnaire
del(europe['turquie'])

# vérifier que le pays n'est pas contenu dans le dictionnaire
'turquie' in europe

False

## Pandas DataFrames

[Pandas](https://pandas.pydata.org/) est un module de Python pour l'analyse et la manipulation de données. L'objet de base de Pandas est le *DataFrame*, qui est un tableau similaire auc feuilles Excel ou LibreOffice que vous devez connaître. Le module Pandas fonctionne en harmonie avec les modules [Numpy](https://numpy.org/) et [Matplotlib](https://matplotlib.org/) vus dans les cours précédents.

Voyons comment créer un DataFrame à partir d'un dictionnaire. Nous allons reprendre les listes créées plus sur les pays et capitales européennes, les transformer en tableaux Numpy, et y ajouter d'autres informations:

In [54]:
# importation du module Numpy
import numpy as np

# importation du module Pandas
import pandas as pd

# création des tableaux Numpy à partir des listes des pays et des capitales: type string
np_pays = np.array(pays)
np_capitales = np.array(capitales)

# liste avec les populations des pays européens: type integer
np_population = np.array([82162000, 8700471, 11289853, 7153784, 848319, 4190669, 5659715, 46438422, 1315944, 
                       5401267, 66661621, 10793526, 9830485, 4658530, 60665551, 1968957, 2888558, 576249, 
                       434403, 16979120, 37967209, 10341330, 10553853, 19759968, 5426252, 2064188, 9851017],
                       dtype='int64')

# liste avec les dates d'adhésion des pays à l'UE: type datetime
np_date = np.array(['1957', '1995', '1957', '2007', '2004', '2013', '1973', '1986', '2004', '1995',
                    '1957', '1981', '2004', '1973', '1957', '2004', '2004', '1957', '2004', '1957',
                    '2004', '1986', '2004', '2007', '2004', '2004', '1995'],
                    dtype='datetime64[Y]')

Maintenant, créons un dictionnaire en utilisant les tableaux Numpy dans les paires clé-valeur:

In [55]:
dic_europe = {
    "pays" : np_pays,
    "capitale" : np_capitales,
    "population" : np_population,
    "date d'adhésion" : np_date
}

Pour créer le *DataFrame* à partir du dictionnaire il suffit d'utiliser la fonction `DataFrame()` de Pandas:

In [56]:
# création du DataFrame
df_europe = pd.DataFrame(data=dic_europe)

# affichage du DataFrame
df_europe

                  pays    capitale  population date d'adhésion
0            allemagne      berlin    82162000      1957-01-01
1             autriche      vienne     8700471      1995-01-01
2             belgique   bruxelles    11289853      1957-01-01
3             bulgarie       sofia     7153784      2007-01-01
4               chypre     nicosie      848319      2004-01-01
5              croatie      zagreb     4190669      2013-01-01
6             danemark  copenhague     5659715      1973-01-01
7              espagne      madrid    46438422      1986-01-01
8              estonie     tallinn     1315944      2004-01-01
9             finlande    helsinki     5401267      1995-01-01
10              france       paris    66661621      1957-01-01
11               grèce     athènes    10793526      1981-01-01
12             hongrie    budapest     9830485      2004-01-01
13             irlande      dublin     4658530      1973-01-01
14              italie        rome    60665551      1957-01-01
15            lettonie        riga     1968957      2004-01-01
16            lituanie     vilnius     2888558      2004-01-01
17          luxembourg  luxembourg      576249      1957-01-01
18               malte  la valette      434403      2004-01-01
19            pays-bas   amsterdam    16979120      1957-01-01
20             pologne    varsovie    37967209      2004-01-01
21            portugal    lisbonne    10341330      1986-01-01
22  république tchèque      prague    10553853      2004-01-01
23            roumanie    bucarest    19759968      2007-01-01
24           slovaquie  bratislava     5426252      2004-01-01
25            slovénie   ljubljana     2064188      2004-01-01
26               suède   stockholm     9851017      1995-01-01

On voit que:

- les clés du dictionnaire ont été utilisées pour nommer les colonnes du DataFrame,
- les listes ont été utilisée pour remplir chaque colonne
- les lignes sont étiquetées, par défaut avec des entiers à partir de l'indice 0, mais il est possible d'utiliser d'autres types pour les étiquettes, comme pour les clés d'un dictionnaire

Nous pouvons vérifier le type du DataFrame avec la fonction `type()`:

In [57]:
# affichage du type
print(type(df_europe))

<class 'pandas.core.frame.DataFrame'>

Les attributs de DataFrame sont:

| Attributs | Description
|--|--
| `ndim` | nombre de dimension
| `shape` | forme, nombre d'éléments dans chaque dimension
| `size` | nombre d'éléments

In [58]:
print('ndim :', df_europe.ndim)
print('shape:', df_europe.shape)
print('size:', df_europe.size)

ndim : 2
shape: (27, 4)
size: 108

Les DataFrame contiennent parfois beaucoup de lignes. On peut afficher seulement les première ou dernière lignes avec les méthodes `head()` et `tail()`:

In [59]:
# afficher les 2 premieres lignes
df_europe.head(n=2)

        pays capitale  population date d'adhésion
0  allemagne   berlin    82162000      1957-01-01
1   autriche   vienne     8700471      1995-01-01

In [60]:
# afficher les 2 dernieres lignes
df_europe.tail(n=2)

        pays   capitale  population date d'adhésion
25  slovénie  ljubljana     2064188      2004-01-01
26     suède  stockholm     9851017      1995-01-01

## L'objet *Series*

Il est possible d'extraire une colonne en mettant en indice le nom de la colonne:

In [61]:
# extraire la colonne pays du DataFrame
col_pays = df_europe['pays']

# ou de manière similaire
col_pays = df_europe.pays

# affichage
print(col_pays)

0              allemagne
1               autriche
2               belgique
3               bulgarie
4                 chypre
5                croatie
6               danemark
7                espagne
8                estonie
9               finlande
10                france
11                 grèce
12               hongrie
13               irlande
14                italie
15              lettonie
16              lituanie
17            luxembourg
18                 malte
19              pays-bas
20               pologne
21              portugal
22    république tchèque
23              roumanie
24             slovaquie
25              slovénie
26                 suède
Name: pays, dtype: object

On voit que l'on a extrait la colonne mais aussi les étiquettes des lignes et d'autres informations telle que l'étiquette de la colonne. Une colonne extraite de cette manière est un objet **Series** de Pandas:

In [62]:
print(type(col_pays))

<class 'pandas.core.series.Series'>

On accède aux valeurs d'un objet *Series* de la même manière qu'un dictionnaire, c'est-à-dire en écrivant l'étiquette en indice de l'objet:

In [63]:
# afficher la valeur de la "Series" col_pays correspondant a l'étiquette 23
print(col_pays[23])

roumanie

Pour accéder à une ligne, il faut utiliser un *accesseur* `.loc[]`:

In [64]:
# extraire la ligne 23 du DataFrame
ligne_23 = df_europe.loc[23]

# affichage
print(ligne_23)

pays                          roumanie
capitale                      bucarest
population                    19759968
date d'adhésion    2007-01-01 00:00:00
Name: 23, dtype: object

Une ligne extraite de cette façon est aussi un objet *Series*:

In [65]:
type(ligne_23)

pandas.core.series.Series

Les noms des colonnes ont été utilisés pour étiqueter les lignes de ce nouvel objet, et l'étiquette de la ligne a été utilisé pour nommer l'objet.

### Exercice

1. Créer un objet *Series* contenant la colonne date d'adhésion
2. Créer un objet *Series* contenant la ligne 12

In [66]:
# 1
col_adhesion = df_europe["date d'adhésion"]

# 2
ligne_12 = df_europe.loc[12]

## L'objet *Index*

On peut extraire les étiquettes des lignes et des colonnes avec `.index` et `.columns`:

In [67]:
# etiquettes des lignes
print(df_europe.index)

RangeIndex(start=0, stop=27, step=1)

In [68]:
# etiquette des lignes
print(df_europe.columns)

Index(['pays', 'capitale', 'population', 'date d'adhésion'], dtype='object')

Ces étiquettes sont des objet Pandas appelés **Index**. Ce sont des tableaux Numpy *immuables*, c'est-à-dire qu'on ne peut pas modifier leurs éléments.

On peut par contre changer un *index* entier:

In [69]:
# Modifier les étiquettes des lignes du DataFrame en les faisant commencer à 1
df_europe.index = np.arange(1,28)

# afficher la premiere ligne
df_europe.head(n=1)

        pays capitale  population date d'adhésion
1  allemagne   berlin    82162000      1957-01-01

## Accéder et modifier les données

On peut accéder aux données du DataFrame pour les extraire ou les modifier grâce à des **accesseurs**:

| Accesseur | Description
|--|--
| `.loc[]`  | accepte les étiquettes des lignes ou colonnes et retourne un objet *Series* ou *DataFrame*
| `.iloc[]` | accepte les indices des lignes ou colonnes et retourne un objet *Series* ou *DataFrame*
| `.at[]`   | accepte les étiquettes des lignes ou colonnes et retourne une valeur unique
| `.iat[]`  | accepte les indices des lignes ou colonnes et retourne une valeur unique

Comme pour les tableaux Numpy, les accesseurs supportent l'indexation et le tranchage. Voyons quelques exemples:

In [70]:
# extraire les capitales des 3 premiers pays
print(df_europe.loc[1:4, 'capitale'])

1       berlin
2       vienne
3    bruxelles
4        sofia
Name: capitale, dtype: object

Attention, avec `.loc[]` on a utilisé les étiquettes des lignes, décalées de 1 par rapport à leur indice. Pour extraire le  même objet *Series* avec `iloc[]`, on écrira:

In [71]:
# extraire les capitales des 3 premiers pays
print(df_europe.iloc[0:3, 1])

1       berlin
2       vienne
3    bruxelles
Name: capitale, dtype: object

Comme pour les tableaux Numpy, on peut trancher en frounissant une liste:

In [72]:
# extraire les noms et les populations pays 3 à 7
df_europe.loc[3:7, ['pays', 'population']]

       pays  population
3  belgique    11289853
4  bulgarie     7153784
5    chypre      848319
6   croatie     4190669
7  danemark     5659715

Avec l'accesseur `iloc[]` on écrira:

In [73]:
# extraire les noms et les populations pays 3 à 7
df_europe.iloc[2:7, [0, 2]]

       pays  population
3  belgique    11289853
4  bulgarie     7153784
5    chypre      848319
6   croatie     4190669
7  danemark     5659715

Pour accéder à une valeur en particulier:

In [74]:
# nom du pays 23
print(df_europe.at[23, 'pays'])

# ou avec les indices
print(df_europe.iat[22, 0])

république tchèque
république tchèque

### Exercice

1. Extraire les date d'adhésion des pays avec les étiquettes 12 et 25
2. Extraire la population du pays avec l'étiquette 6

In [75]:
# 1
print(df_europe.loc[[12,25], "date d'adhésion"])

12   1981-01-01
25   2004-01-01
Name: date d'adhésion, dtype: datetime64[ns]

In [76]:
# 2
print(df_europe.at[6, "population"])

4190669

## Insérer et supprimer des données

Pour insérer une nouvelle ligne, on peut créer un objet *Series* et l'ajouter au DataFrame avec la méthode `.append()`. Supposons que la Turquie joigne l'Union Européenne en 2026:

In [77]:
# creation de l'objet Series
ligne_turquie = pd.Series(data=['turquie', 'ankara', 83154997, np.datetime64('2026', 'Y')], 
                          index=df_europe.columns, name=28)

# affichage
print(ligne_turquie)

pays                turquie
capitale             ankara
population         83154997
date d'adhésion        2026
Name: 28, dtype: object

In [78]:
# ajout de la ligne à l'objet DataFrame
df_europe = df_europe.append(ligne_turquie)

# affichage des 2 dernieres lignes
df_europe.tail(n=2)

       pays   capitale  population date d'adhésion
27    suède  stockholm     9851017      1995-01-01
28  turquie     ankara    83154997      2026-01-01

Plusieurs remarques:
- pour créer l'objet *Series* on a utilisé l'option `index` pour nommer les colonnes, et l'option `name` pour lui donner un nom
- l'étiquette de la nouvelle ligne de l'objet DataFrame est le nom de l'objet Series
- on aurait pu ignorer ce nom en utilisant l'option de la méthode `append()`: `ignore_index=True`

La méthode `.drop()` permet de supprimer des lignes:

In [79]:
# supprimer la ligne avec l'étiquette 28
df_europe = df_europe.drop([28])

# affichage des 2 dernieres lignes
df_europe.tail(n=2)

        pays   capitale  population date d'adhésion
26  slovénie  ljubljana     2064188      2004-01-01
27     suède  stockholm     9851017      1995-01-01

Il est beaucoup plus simple d'ajouter une colonne à un DataFrame. On peut le faire de la même manière que l'on ajoute une paire clé-valeur à un dictionnaire. Par exemple, ajoutons la colonne qui donne le nombre de siège au parlement européen pour chaque pays de l'UE:

In [80]:
# nombre de sieges au parlement
np_sieges = np.array([96, 18, 21, 17, 6, 11, 13, 54, 6, 13, 74, 21, 21, 11, 73, 8, 11, 6, 6, 26, 51, 21, 21, 32, 13, 8, 20])

# ajout de la colonne
df_europe['sièges'] = np_sieges

# affichage des 2 premieres lignes
df_europe.head(n=2)

        pays capitale  population date d'adhésion  sièges
1  allemagne   berlin    82162000      1957-01-01      96
2   autriche   vienne     8700471      1995-01-01      18

## Opérateurs arithmétiques et fonctions

Il est possible d'utiliser les opérateurs arithmétiques usuels et les fonctions Numpy sur les colonnes d'un objet DataFrame. Par exemple, calculons le pourcentage de la population dans chaque pays par rapport à la population totale:

In [81]:
# population totale
pop_tot = df_europe['population'].sum()

# pourcentage de la population
pop_pourcentage = df_europe['population'] / pop_tot * 100

# affichage
print(pop_pourcentage)

1     18.480761
2      1.957004
3      2.539435
4      1.609106
5      0.190813
6      0.942610
7      1.273044
8     10.445429
9      0.295996
10     1.214911
11    14.994249
12     2.427796
13     2.211178
14     1.047847
15    13.645548
16     0.442879
17     0.649726
18     0.129616
19     0.097711
20     3.819126
21     8.539993
22     2.326083
23     2.373886
24     4.444625
25     1.220531
26     0.464299
27     2.215797
Name: population, dtype: float64

### Exercice

Nous voulons connaître le poids de chaque pays au parlement par rapport à son nombre d'habitants.

1. Calculer le nombre de sièges au parlement par habitants dans chaque pays, c'est-à-dire:

$$N_i = \frac{\text{nombre de siège}}{\text{nombre d'habitants}}$$

2. Normaliser le résultat et l'exprimer en pourcentage, c'est-à-dire:

$$\bar{N}_i = \frac{N_i}{\sum_i N_i}\times 100$$

3. Ajouter une nouvelle colonne au DataFrame `df_europe` avec le nom `'poids'` qui contient $\bar{N}_i$
4. Afficher les colonnes `'pays'` et `'poids'` du DataFrame `df_europe` pour les 20 premières lignes

In [82]:
# nombre de siège par habitant
siege_pour = df_europe['sièges'] / df_europe['population']

# normalisation
siege_pour = siege_pour / siege_pour.sum() * 100

# ajout d'une colonne poids
df_europe['poids'] = siege_pour

# affichage
df_europe.loc[1:20,['pays','poids']]

          pays      poids
1    allemagne   1.370336
2     autriche   2.426367
3     belgique   2.181513
4     bulgarie   2.787018
5       chypre   8.295046
6      croatie   3.078478
7     danemark   2.693863
8      espagne   1.363776
9      estonie   5.347374
10    finlande   2.822763
11      france   1.301915
12       grèce   2.281827
13     hongrie   2.505365
14     irlande   2.769303
15      italie   1.411261
16    lettonie   4.765193
17    lituanie   4.466202
18  luxembourg  12.211466
19       malte  16.198887
20    pays-bas   1.795911

## Trier un *DataFrame*

Il est très facile de trier un objet DataFrame avec la méthode `.sort_values()`. Par exemple, on voit qu'en classant les pays d'abord par nombre de sièges croissant, puis, pour un même nombre de sièges, par poids décroissant, on déduit que plus le nombre de siège et la population augmentent, plus le poids d'un pays au parlement diminue:

In [83]:
df_europe.sort_values(by=['sièges', 'poids'], ascending=[True, False])

,pays,capitale,population,date d'adhésion,sièges,poids
19,malte,la valette,434403,2004-01-01,6,16.198887
18,luxembourg,luxembourg,576249,1957-01-01,6,12.211466
5,chypre,nicosie,848319,2004-01-01,6,8.295046
9,estonie,tallinn,1315944,2004-01-01,6,5.347374
16,lettonie,riga,1968957,2004-01-01,8,4.765193
26,slovénie,ljubljana,2064188,2004-01-01,8,4.545352
17,lituanie,vilnius,2888558,2004-01-01,11,4.466202
6,croatie,zagreb,4190669,2013-01-01,11,3.078478
14,irlande,dublin,4658530,1973-01-01,11,2.769303
10,finlande,helsinki,5401267,1995-01-01,13,2.822763
25,slovaquie,bratislava,5426252,2004-01-01,13,2.809766
7,danemark,copenhague,5659715,1973-01-01,13,2.693863
4,bulgarie,sofia,7153784,2007-01-01,17,2.787018
2,autriche,vienne,8700471,1995-01-01,18,2.426367
27,suède,stockholm,9851017,1995-01-01,20,2.381089
13,hongrie,budapest,9830485,2004-01-01,21,2.505365
22,portugal,lisbonne,10341330,1986-01-01,21,2.381604
23,république tchèque,prague,10553853,2004-01-01,21,2.333646
12,grèce,athènes,10793526,1981-01-01,21,2.281827
3,belgique,bruxelles,11289853,1957-01-01,21,2.181513
20,pays-bas,amsterdam,16979120,1957-01-01,26,1.795911
24,roumanie,bucarest,19759968,2007-01-01,32,1.899287
21,pologne,varsovie,37967209,2004-01-01,51,1.575391
8,espagne,madrid,46438422,1986-01-01,54,1.363776
15,italie,rome,60665551,1957-01-01,73,1.411261
11,france,paris,66661621,1957-01-01,74,1.301915
1,allemagne,berlin,82162000,1957-01-01,96,1.370336

## Sauver un DataFrame
Il est possible de sauver un objet DataFrame sous la forme d'un [fichier csv](https://fr.wikipedia.org/wiki/Comma-separated_values). C'est un format pratique qui peut être lu par la plupart des tableurs comme LibreOffice Calc ou Microsoft Excel. Il faut utiliser la métode `.to_csv()`:

In [84]:
df_europe.to_csv("europe.csv")

Cette méthode crée un fichier nommé *data.csv* dans le répertoire de travail (allez vérifier!), avec le contenu du DataFrame:

```
,pays,capitale,population,date d'adhésion,sièges,poids
1,allemagne,berlin,82162000,1957-01-01,96,1.3703356988657123
2,autriche,vienne,8700471,1995-01-01,18,2.4263669538020842
3,belgique,bruxelles,11289853,1957-01-01,21,2.1815127149779783
4,bulgarie,sofia,7153784,2007-01-01,17,2.7870184226008328
5,chypre,nicosie,848319,2004-01-01,6,8.295045974023676
6,croatie,zagreb,4190669,2013-01-01,11,3.078478088741746
7,danemark,copenhague,5659715,1973-01-01,13,2.6938631589897866
8,espagne,madrid,46438422,1986-01-01,54,1.363776011827881
9,estonie,tallinn,1315944,2004-01-01,6,5.347374284648732
10,finlande,helsinki,5401267,1995-01-01,13,2.822763201464005
11,france,paris,66661621,1957-01-01,74,1.301914879970682
12,grèce,athènes,10793526,1981-01-01,21,2.28182689046492
13,hongrie,budapest,9830485,2004-01-01,21,2.5053654900782893
14,irlande,dublin,4658530,1973-01-01,11,2.7693033411117423
15,italie,rome,60665551,1957-01-01,73,1.4112613727889787
16,lettonie,riga,1968957,2004-01-01,8,4.765193013788716
17,lituanie,vilnius,2888558,2004-01-01,11,4.466201715066578
18,luxembourg,luxembourg,576249,1957-01-01,6,12.211466060050068
19,malte,la valette,434403,2004-01-01,6,16.198886991198936
20,pays-bas,amsterdam,16979120,1957-01-01,26,1.7959114169499812
21,pologne,varsovie,37967209,2004-01-01,51,1.5753905797479404
22,portugal,lisbonne,10341330,1986-01-01,21,2.381604481215885
23,république tchèque,prague,10553853,2004-01-01,21,2.3336460977552242
24,roumanie,bucarest,19759968,2007-01-01,32,1.8992865050895604
25,slovaquie,bratislava,5426252,2004-01-01,13,2.8097658805528902
26,slovénie,ljubljana,2064188,2004-01-01,8,4.545351557537583
27,suède,stockholm,9851017,1995-01-01,20,2.381089216689604
```

Il est alors possible, plus tard, de charger le contenu du fichier csv avec la méthode `.read_csv()`:

In [90]:
df_europe_from_csv = pd.read_csv("europe.csv", index_col=0)

Un problème de sauvegarder en csv est que si une des colonnes contient des objets python, il peuvent être convertit en un autre type au moment de l'écriture et de la lecture. Dans l'exemple ci-dessus, la colonne `date d'adhésion` n'est plus un objet `datetime64` au moment de la lecture: il a été convertit en objet `str`.

In [112]:
A = df_europe_from_csv["date d'adhésion"][1]
print(A)
print(type(A))

1957-01-01
<class 'str'>

Une façon de garder toutes les propriétés des objets python est de les sauver dans un format que l'on appelle *pickle*:

In [98]:
# sauvegarde d'un DataFrame dans un fichier pickle
df_europe.to_pickle('europe.pkl')

# lecture du fichier pickle
df_europe_from_pickle = pd.read_pickle('europe.pkl')

On voit alors que les dates sont restées des objets `datetime64`:

In [113]:
df_europe_from_pickle["date d'adhésion"].head(n=2)

1   1957-01-01
2   1995-01-01
Name: date d'adhésion, dtype: datetime64[ns]